# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
miniprogram/node_modules
miniprogram_npm
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production
src/dist
.vscode

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode

# visual studio code
.history
*.log
functions/*
.temp/**

# umi
.umi
.umi-production

# screenshot
screenshot
.firebase
.eslintcache

build
node_modules
*.iml
*.ipr
*.iws
.idea/

# go.gitignore from https://github.com/github/gitignore/blob/master/Go.gitignore
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

